* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

body {
    background-color: rgb(39, 37, 37);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: black;
    /* border-radius: 1rem; */
}

button:hover {
    background-color: rgb(29, 26, 26);
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-top: 40px;
}

#title h2 {
    margin: 10px;
}

#title button {
    margin: 20px;
    height: 25px;
    width: 60px;
}

#button-container {
    display: flex;
    flex-direction: row;

}

#content-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20rem;
}

#content-container button {

    width: 60px;
    height: 25px;

}

.guess-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guess-display {

    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style: 2px solid red; */
    /* border: dashed red; */

    height: 4rem;
    width: 10rem;
}

#previous-content {
    display: flex;
    flex-direction: column;
}

#previous-content h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

#previous-guess-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 20rem;

}

.previous-guess {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: dashed red; */

    height: 16rem;
    width: 10rem;
}